{
  "extends": "next/core-web-vitals",
  "rules": {
    "no-unreachable": "error",
    "no-constant-condition": "error",
    "no-unused-expressions": "error",
    "no-constant-binary-expression": "error"
  }
}
