@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  [type='text'],
  [type='email'],
  [type='password'],
  [type='number'],
  [type='date'],
  [multiple],
  textarea,
  select {
    @apply w-full transform rounded-lg transition duration-300 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-90 focus:ring-offset-2 focus:ring-offset-black;
  }

  [type='radio'] {
    @apply transform text-green-500 transition duration-300 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-90 focus:ring-offset-2 focus:ring-offset-black;
  }

  textarea {
    @apply resize-none;
  }
}

@layer utilities {
  @supports (-webkit-touch-callout: none) {
    .min-h-screen {
      min-height: -webkit-fill-available;
    }
  }

  .bg-circle-gradient {
    background: radial-gradient(
      circle at calc(60%),
      #61f78e 0,
      #61f77d7f 0,
      transparent 45%
    );
  }

  .special-underline {
    @apply bg-gradient-to-r from-green-400 to-green-400 
        bg-no-repeat [background-position:0%_110%] [background-size:0%_0.3em]
        hover:[background-size:100%_0.3em] focus:[background-size:100%_0.3em]
        group-hover:[background-size:100%_0.3em]
        motion-safe:transition-all motion-safe:duration-200;
  }

  .ring-on-focus {
    @apply transform transition duration-300 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-90 focus:ring-offset-2 focus:ring-offset-black;
  }
}
